<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Basic-exercises
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button href="/exercise01" expand="full">Exercise 1</ion-button>
  <ion-button href="/exercise02" expand="full">Exercise 2</ion-button>
  <ion-button href="/exercise03" expand="full">Exercise 3</ion-button>
  <ion-button href="/exercise04" expand="full">Exercise 4</ion-button>
  <ion-button href="/exercise05" expand="full">Exercise 5</ion-button>
  <ion-button href="/exercise06" expand="full">Exercise 6</ion-button>
  <ion-button href="/exercise07" expand="full">Exercise 7</ion-button>
</ion-content>
